.card h2,
.card p {
  text-shadow: 0 -0.5px 2px lightslategray;
}

.card button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform ease-out 0.2s;
}

.card button:hover {
  transform: rotate(-25deg);
  transition: transform ease-in 0.3s;
}
